<!DOCTYPE html>
<html>
<%- include('./layout/header')%>
<body class="fixed-left">

<!-- Begin page -->
<div id="wrapper">
    <%- include('./layout/navbar')%>
    <%- include('./layout/leftbar')%>
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container">

                <!-- Page-Title -->
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="page-title">Something Errors</h4>
                        <p class="text-muted page-title-alt"><%= message%></p>
                    </div>
                </div>


            </div> <!-- container -->

        </div> <!-- content -->

        <footer class="footer text-right">
            © 2016. All rights reserved.
        </footer>

    </div>

</div>
<!-- END wrapper -->

<%- include('./layout/script')%>

</body>
</html>